gspread
google-auth
requests
beautifulsoup4
pandas
google-api-python-client==2.126.0
google-auth==2.29.0
google-auth-oauthlib==1.2.0
playwright
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
beautifulsoup4
